###############################################################################
# CODEOWNERS
###############################################################################
#
# Purpose
# -------
# This file defines code ownership for the JULES repository.
#
# Notes
# -----
# * Code ownership indicates leadership and review responsibility, not a
#   commitment to undertake all work or reviews.
# * Planned changes should be discussed with the relevant module leader.
# * Module leaders should be offered the option to review changes affecting
#   their areas.
# * Interfaces between components must be agreed by all affected parties.
# * When leadership changes, this file should be updated.
# * Rose meta-data (in rose-meta) is owned by the appropriate module leader.
#
###############################################################################
# Science Module Leaders (informational)
###############################################################################
# Surface:                 John Edwards, Rich Ellis
# Hydrology:               Nic Gedney, Sonja Folwell
# Vegetation:              Lina Mercado, Karina Williams, Rebecca Oliver
# Veg3 RED Demography:     Andy Wiltshire, Arthur Argles
# Biogeochemistry:         Eleanor Burke, Noah Smith
# Biogenic fluxes:         Garry Hayman, James Weber
# Fire:                    Doug Kelley, Chantelle Burton
# Lakes:                   Helen Johnson
# Evaluation:              Nina Raoult, Siyuan Tian
# CABLE Science:           Ian Harman, Claire Carouge
# IMOGEN:                  Chris Huntingford, Eleanor Burke
#
###############################################################################
# Code Owners
###############################################################################

/rose-meta/**/versions.py           @MetOffice/ssdteam
**/rose-meta                        @maggiehendry
**/rose-stem                        @MetOffice/ssdteam
**/etc                              @MetOffice/ssdteam
**/science/river_routing             @maggiehendry
**/initialisation/rivers_standalone @maggiehendry
**/                                 @GiorgiaLine
