################################################################################
# This platform file should be used for Intel builds on NIWA CS500 HPCs
################################################################################

# Load environment variable pre-settings
include = $HERE/envars.cfg

# Override any of the input variables that we need to
$JULES_COMPILER = ifx
$JULES_MPI = mpi-dynamic
$JULES_NETCDF = netcdf
$JULES_NETCDF_INC_PATH = $NETCDF_FORTRAN_ROOT/include
$JULES_NETCDF_LIB_PATH = $NETCDF_FORTRAN_ROOT/lib
$JULES_LDFLAGS_EXTRA =

# All dependency libraries are dynamically linked
$ncdf_libs_dynamic{?} = netcdff

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/load_settings.cfg

# Disable checks for unintialised variables, the memory sanitizer trips up in libc
$fflags_debug = $fflags_debug -check nouninit
$ldflags_debug = $ldflags_debug -check nouninit

# Generate AVX2 instructions
$fflags_normal = $fflags_normal -march=x86-64-v3
$ldflags_normal = $ldflags_normal -march=x86-64-v3
$fflags_fast = $fflags_fast -march=x86-64-v3
$ldflags_fast = $ldflags_fast -march=x86-64-v3
