################################################################################
# This platform file should be used for non-MPI builds on JASMIN
################################################################################

# On JASMIN, please initiate your runs from the dedicated server for JULES use, which is cylc.jasmin.ac.uk - see https://help.jasmin.ac.uk/article/147-cylc-rose-on-jasmin

# Load environment variable pre-settings
include = $HERE/envars.cfg

# n.b. don't forget to load the gfortran compiler before the compile (either on cmd line or in your suite.rc file), usually with the command:
# module load jaspy

$NETCDF_FORTRAN_ROOT = $CONDA_PREFIX

$JULES_BUILD = normal
$JULES_COMPILER = gfortran_10_plus
$JULES_REMOTE = local
$JULES_MPI = nompi
$JULES_OMP = noomp
$JULES_NETCDF = netcdf
$JULES_NETCDF_INC_PATH = $NETCDF_FORTRAN_ROOT/include
$JULES_NETCDF_LIB_PATH = $NETCDF_FORTRAN_ROOT/lib 

# See $JULES_ROOT/etc/fcm-make/compiler/{$JULES_COMPILER}.cfg for flags already set by default
$JULES_FFLAGS_EXTRA = 
$JULES_LDFLAGS_EXTRA = 

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/load_settings.cfg
