################################################################################
# This platform file should be used for gfortran builds on Met Office Linux
# machines
#
# It makes sure that the compiler is gfortran, that MPI is off, and that the
# NetCDF paths are correctly set up for a non-MPI NetCDF should the user
# switch NetCDF on
################################################################################

# Load environment variable pre-settings
include = $HERE/envars.cfg

# Override any of the input variables that we need to
$JULES_COMPILER = gfortran_10_plus
$JULES_MPI = nompi
$JULES_NETCDF = netcdf
$JULES_NETCDFF_INC_PATH = $NETCDFF_ROOT/include
$JULES_NETCDFF_LIB_PATH = $NETCDFF_ROOT/lib
$JULES_NETCDFC_INC_PATH = $NETCDFC_ROOT/include
$JULES_NETCDFC_LIB_PATH = $NETCDFC_ROOT/lib
$JULES_NETCDF_INC_PATH = $JULES_NETCDFF_INC_PATH $JULES_NETCDFC_INC_PATH
$JULES_NETCDF_LIB_PATH = $JULES_NETCDFF_LIB_PATH $JULES_NETCDFC_LIB_PATH

$ncdf_ldflags_dynamic{?} = -Wl,--rpath=${JULES_NETCDFC_LIB_PATH} -Wl,--rpath=${JULES_NETCDFF_LIB_PATH}

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/load_settings.cfg
