################################################################################
# This platform file should be used for gfortran builds on NIWA XC50 HPCs
################################################################################

# Load environment variable pre-settings
include = $HERE/envars.cfg

# Override any of the input variables that we need to
$JULES_COMPILER = gfortran
$JULES_MPI = mpi
$JULES_NETCDF = netcdf
$JULES_NETCDF_INC_PATH =
$JULES_NETCDF_LIB_PATH =
$JULES_LDFLAGS_EXTRA =

# Use compiler wrappers provided by Cray programming environment
$compiler = ftn
$compiler_mpi = ftn

# NetCDF libraries are linked automatically
$ncdf_libs_static =
$ncdf_libs_dynamic =
$ncdf_ldflags_dynamic =

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/load_settings.cfg

build.prop{fc.flags}[jules/src/io/dump/read_dump_mod.F90] = $fflags_common -fallow-argument-mismatch -w
