###############################################################################
## Determine TRUSTZONE and set METO_HPC_GROUP if not defined.
###############################################################################

{# Determine EX Host #}
{% if USE_EXZ is defined and USE_EXZ %}
  {% set METO_HOST_EX = "exz" %}
{% elif USE_EXAB is defined and USE_EXAB %}
  {% set METO_HOST_EX = "exab" %}
{% elif USE_EXCD is defined and USE_EXCD %}
  {% set METO_HOST_EX = "excd" %}
{% else %}
    {# randomly choose either ab or cd #}
    {% from "random" import randint %}
    {% if randint(1,2) < 2 %}
      {% set METO_HOST_EX = "exab" %}
    {% else %}
      {% set METO_HOST_EX = "excd" %}
    {% endif %}
{% endif %}
{% do LOG.info("Host EX: " + METO_HOST_EX) %}


{% do SITE_VARS.update({"LAUNCH_PLATFORM": "azspice"}) %}
{% do SITE_VARS.update({"GIT_MIRROR_LOC": "/data/users/gitassist/git_mirrors"}) %}


###############################################################################
## Imports
###############################################################################
%include 'include/meto/graph-azspice-gnu.rc'
%include 'include/meto/graph-ex1a-cce.rc'
%include 'include/meto/graph-ex1a-gfortran.rc'

###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {
         "umdp3_check" : "extract_source => umdp3_checker",
         "metadata_check" : "extract_source => metadata_checker",
         "site_validator": "extract_source => site_validator",
} %}
{%- do name_graphs.update(name_graphs_azspice_gnu.items()) %}
{%- do name_graphs.update(name_graphs_ex1a_cce.items()) %}
{%- do name_graphs.update(name_graphs_ex1a_gfortran.items()) %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {
        "all" : ["azspice", "ex1a"],

        "loobos" : ["azspice_loobos", "ex1a_loobos"],

        "gswp2" : ["azspice_gswp2", "ex1a_gswp2"],

        "eraint" : ["azspice_eraint", "ex1a_eraint"],

        "gswp2_es" : ["azspice_gswp2_es", "ex1a_gswp2_es"],

        "imogen" : ["azspice_imogen", "ex1a_imogen"],
    }
%}

{% do groups.update({
        "azspice" : ["azspice_gnu", "scripts"],

        "azspice_loobos" : ["azspice_gnu_loobos"],

        "azspice_gswp2" : ["azspice_gnu_gswp2"],

        "azspice_eraint" : ["azspice_gnu_eraint"],

        "azspice_gswp2_es" : ["azspice_gnu_gswp2_es"],

        "azspice_imogen" : ["azspice_gnu_imogen"],

        "ex1a" : ["ex1a_cce", "ex1a_gfortran", "scripts"],

        "ex1a_loobos" : ["ex1a_cce_loobos", "ex1a_gfortran_loobos"],

        "ex1a_gswp2" : ["ex1a_cce_gswp2", "ex1a_gfortran_loobos"],

        "ex1a_eraint" : ["ex1a_cce_eraint", "ex1a_gfortran_loobos"],

        "ex1a_gswp2_es" : ["ex1a_cce_gswp2_es", "ex1a_gfortran_loobos"],

        "ex1a_imogen" : ["ex1a_cce_imogen", "ex1a_gfortran_loobos"],

        "tutorial_ex1a" : ["meto_ex1a_cce_loobos_crops", "meto_ex1a_gfortran_loobos_crops"],

        "scripts"   : ["umdp3_check", "metadata_check", "site_validator"],

    })
%}

{%- do groups.update(groups_azspice_gnu.items()) %}
{%- do groups.update(groups_ex1a_cce.items()) %}
{%- do groups.update(groups_ex1a_gfortran.items()) %}
