################################################################################
# This file switches OASIS on
################################################################################
# We have to compile without libcurl
$ncdf_libs_dynamic = netcdff
$ncdf_libs_static  = netcdff netcdf hdf5_hl hdf5

# Tell FCM make that we are resolving the oasis module from an external source
$external_mods = $external_mods mod_oasis 

# Add the lib and include paths for OASIS 
$inc_paths = $inc_paths $prism_path/build/lib/mct $prism_path/build/lib/psmile.MPI1 $prism_path/build/lib/scrip
$lib_paths = $lib_paths $prism_path/lib

$oasis_libs = psmile.MPI1 scrip mct mpeu
