###############################################################################
## Common variable definitions
###############################################################################
{%- set KGO_VERSION = 'vn7.9_t1371' %}
